body {
    margin: 0;
}
.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 18px;
    width: 250px;
    margin-top: 20px;
    border: 2px solid black;
    margin-right: 50px;
}
.btn {
    border: 2px solid black;
    background: white;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    width: 50px;
}
.btn:hover {
    text-decoration: underline;
}
span {
    border: 2px solid black;
}